pandas
numpy
scikit-learn
matplotlib
torch
transformers
accelerate
sentencepiece
protobuf
langchain
langchain-community
langchain-core
langchain-openai
chromadb
faiss-cpu
openai
tiktoken
sentence-transformers