pandas
numpy
scikit-learn
matplotlib
torch
transformers
accelerate
sentencepiece
protobuf
langchain
langchain-community
langchain-core
langchain-openai
faiss-cpu
faiss-gpu
openai
tiktoken
sentence-transformers